/* =====================================
        LAPTOP (1200px)
===================================== */

@media (max-width:1200px){

.container{

    width:92%;

}

.hero-left h1{

    font-size:82px;

}

.hero-left p{

    font-size:20px;

}

.product-grid{

    grid-template-columns:repeat(2,1fr);

}

.collection-grid{

    gap:20px;

}

.story-grid{

    gap:50px;

}

}

/* =====================================
            TABLET
===================================== */

@media (max-width:992px){

.nav{

    display:none;

}

.hero{

    min-height:auto;

    padding:180px 0 100px;

}

.hero-container{

    grid-template-columns:1fr;

    text-align:center;

}

.hero-left{

    margin:auto;

}

.hero-left h1{

    font-size:72px;

}

.hero-left p{

    margin:auto;

    margin-bottom:40px;

}

.hero-buttons{

    justify-content:center;

}

.hero-right{

    margin-top:70px;

    justify-content:center;

}

.hero-right img{

    width:70%;

}

.features-grid{

    grid-template-columns:repeat(2,1fr);

}

.collection-grid{

    grid-template-columns:1fr;

}

.story-grid{

    grid-template-columns:1fr;

}

.product-grid{

    grid-template-columns:repeat(2,1fr);

}

.why-grid{

    grid-template-columns:repeat(2,1fr);

}

.instagram-grid{

    grid-template-columns:repeat(3,1fr);

}

.footer-grid{

    grid-template-columns:1fr 1fr;

}

}

/* =====================================
            MOBILE
===================================== */

@media (max-width:768px){

.header{

    padding:18px 0;

}

.hero{

    padding-top:140px;

}

.hero-left h1{

    font-size:56px;

    letter-spacing:-2px;

}

.hero-left p{

    font-size:17px;

}

.hero-buttons{

    flex-direction:column;

}

.btn{

    width:100%;

}

.features-grid{

    grid-template-columns:1fr;

}

.product-grid{

    grid-template-columns:1fr;

}

.why-grid{

    grid-template-columns:1fr;

}

.instagram-grid{

    grid-template-columns:repeat(2,1fr);

}

.footer-grid{

    grid-template-columns:1fr;

}

.story-left h2{

    font-size:42px;

}

.collections h2,
.products h2,
.instagram h2,
.why h2{

    font-size:34px;

}

.hero-side-text{

    display:none;

}

}

/* =====================================
        SMALL MOBILE
===================================== */

@media (max-width:480px){

.hero-left h1{

    font-size:44px;

}

.story-left h2{

    font-size:34px;

}

.btn{

    padding:15px;

}

.container{

    width:94%;

}

}


@media(max-width:768px){

.footer-grid{

    grid-template-columns:repeat(2,1fr);

}

.footer-bottom{

    flex-direction:column;

    gap:20px;

    text-align:center;

}

}

@media(max-width:500px){

.footer-grid{

    grid-template-columns:1fr;

    text-align:center;

}

}



/*==============================
    MOBILE MENU
==============================*/
@media (max-width:992px){

    .nav{

        display:none;

    }

    .nav-icons{

        display:none;

    }

    .menu-toggle{

        display:flex;

    }

}