<!-- CART part -->
 <!-- ==========================================
                CART OVERLAY
========================================== -->

<div class="cart-overlay" id="cartOverlay"></div>
 <!-- ==========================================
                CART DRAWER
========================================== -->

<aside class="cart-drawer" id="cartDrawer">

    <div class="cart-header">

        <h2>Shopping Bag</h2>

        <button id="closeCart">
            <i class="fa-solid fa-xmark"></i>
        </button>

    </div>

    <div class="cart-body" id="cartItems">

        <!-- Empty State -->

        <div class="empty-cart">

            <i class="fa-solid fa-bag-shopping"></i>

            <h3>Your bag is empty</h3>

            <p>Add something beautiful from YUGA.</p>

        </div>

    </div>

    <div class="cart-footer">

        <div class="subtotal">

            <span>Subtotal</span>

            <strong id="cartSubtotal">
                ₹0
            </strong>

        </div>


        <div
            class="cart-savings"
            id="cartSavings">

            You saved ₹0

        </div>

        <button
            class="view-cart-btn"
            id="viewCartBtn">

            View Cart


        </button>

        <button class="checkout-btn">

            Checkout

        </button>

    </div>

</aside>