<!-- FOOTER -->

    <!-- ==========================================
                FOOTER
========================================== -->

<footer class="footer">

    <div class="container">

        <div class="footer-top">

            <img
                src="/images/logo.webp"
                alt="YUGA WEAR logo"
                class="footer-logo"
                loading="lazy">

            <h2>INDIA REIMAGINED</h2>

            <p>

                YUGA WEAR is a culture-first streetwear brand inspired by
                India's architecture, art, scripts and timeless heritage.

            </p>

        </div>


        <div class="footer-grid">

            <div>

                <h4>SHOP</h4>

                <ul>

                    <li><a href="/index.html#shop">Shop All</a></li>

                    <li><a href="/index.html#shop">Drop 01</a></li>

                    <li><a href="/collections.html">Collections</a></li>


                </ul>

            </div>



            <div>

                <h4>COMPANY</h4>

                <ul>

                    <li><a href="/about.html">Abou Us</a></li>

                    <li><a href="/index.html#story">Our Story</a></li>

                    <li><a href="/journal.html">Journal</a></li>

                    <li><a href="/contact.html">Contact</a></li>

                </ul>

            </div>



            <div>

                <h4>HELP</h4>

                <ul>

                    <li><a href="/shipping.html">Shipping Policy</a></li>

                    <li><a href="/returns.html">Returns & Refunds</a></li>

                    <li><a href="/terms.html">Terms & Conditions</a></li>

                    <li><a href="/size-guide.html">Size Guide</a></li>

                    <li><a href="/track-order.html">Track Order</a></li>

                </ul>

            </div>



            <div>

                <h4>FOLLOW</h4>

                <ul>

                    <li><a href="https://www.instagram.com/yuga.wear">Instagram</a></li>

                    <li><a href="mailto:yugawear.in@gmail.com">Email</a></li>

                    <li><a href="https://youtube.com/@yugawear?si=6ezTT54Mygl4BAm8">YouTube</a></li>

                    <li><a href="https://in.pinterest.com/yugawearin/">Pinterest</a></li>

                </ul>

            </div>

        </div>


        <div class="footer-bottom">

            <p>

                © 2026 YUGA WEAR. All rights reserved.

            </p>

            <span>

                Ancient Roots. Future Identity.

            </span>

        </div>

    </div>

</footer>