<!-- ===========================
        MOBILE MENU
=========================== -->

<div class="mobile-menu">

    <button
        type="button"
        class="close-menu"
        aria-label="Close menu"
    >
        &times;
    </button>


    <ul>

        <li>
            <a href="/index.html#shop">
                Shop
            </a>
        </li>

        <li>
            <a href="/collections.html">
                Collections
            </a>
        </li>

        <li>
            <a href="/journal.html">
                Story
            </a>
        </li>

        <li>
            <a href="/about.html">
                About
            </a>
        </li>

        <li>
            <a href="/contact.html">
                Contact
            </a>
        </li>

        <li>
            <a href="/track-order.html">
                Track order
            </a>
        </li>

    </ul>

</div>
