<!-- ===========================
            NAVBAR
    ============================= -->
<header class="header">

    <div class="container nav-container">

        <!-- Logo -->
        <a href="/index.html" class="logo">

            <img src="/images/logo.webp" alt="YUGA">

            <h1>YUGA WEAR</h1>

        </a>

        <!-- Desktop Navigation -->
        <nav class="nav">

            <ul>

                <li><a href="/index.html#shop">Shop</a></li>

                <li><a href="/collections.html">Collections</a></li>

                <li><a href="/about.html">About</a></li>

                <li><a href="/contact.html">Contact</a></li>

                <li><a href="/track-order.html">Track order</a></li>

            </ul>

        </nav>

        <!-- Desktop Icons -->
        <div class="nav-icons">

            <a href="#"><i>IG</i></a>

            <button type="button" class="cart-icon" id="cartIcon">

                <i class="fa-solid fa-bag-shopping"></i>

                <span class="cart-count" id="cartCount">
                    0
                </span>

            </button>

        </div>

        <!-- NEW: Mobile Hamburger -->

        <button class="menu-toggle">

            <span></span>
            <span></span>
            <span></span>

        </button>

    </div>

</header>
